@import "../../style.scss";

h2 {
  font-size: 38px;
}
.educationContentContainer {
  background-image: url("../../images/pink.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.educationHeader {
  color: $main-purple;
}

.educationContainer {
  align-self: center;
  text-align: center;

  h3 {
    margin: 0;
    margin-top: 10px;
  }
  h4 {
    margin: 10px 0;
    font-weight: 500;
  }
  p {
    margin: 10px 0;
  }
  .devmtn {
    margin-bottom: 20px;
  }
}
.educationLogo {
  width: 75px;
  img {
    object-fit: contain !important;
  }
}
.educationContainer {
  display: flex;
  flex-direction: column;
  section {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-start;
    p {
      width: 200px;
    }
  }
}

@media screen and (min-width: 778px) {
  .educationContainer {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .educationContentContainer {
    width: 600px;
  }
  .educationContainer {
    flex-direction: column;
  }
}
