@import "../../style.scss";

.projectPageContainer {
  padding: 70px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectHeader {
  color: $main-purple;
  text-align: center;
}
.projectTitle {
  margin: 10px 0 15px 0;
}
.singleProjectPageContainer {
  background-image: linear-gradient(#ffea8f, #feb6a0);
  margin: 10px 20px;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px 45px;
}
.projectPhoto {
  min-width: 300px;
  box-shadow: 2px 2px 4px rgb(161, 161, 161);
  border-radius: 5px;
  img {
    object-fit: contain !important;
  }
}
.singleProjectLabel {
  // padding: 0 20px;
  margin: 0 20px;
  max-width: 700px;
  text-align: center;
}
.projectLinks a {
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid $main-purple;
  border-radius: 5px;
  color: $main-purple;
  margin-right: 15px;
  margin-top: 10px;
  transition: 0.5s;
}
.projectLinks a:hover {
  background-color: $main-purple;
  color: white;
}
.projectLinks {
  // padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 900px) {
  .singleProjectPageContainer {
    flex-direction: row;
    justify-content: center;
    padding: 40px;
  }
  .singleProjectLabel {
    text-align: left;
    margin-left: 40px;
  }
  .projectLinks {
    justify-content: flex-start;
  }
}
