@import "../../style.scss";

h2 {
  font-size: 38px;
}
.skillIcon {
  width: 25px;
  img {
    object-fit: contain !important;
  }
}
.skillIcon:hover {
  transform: scale(1.2);
}
.skillsContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skillsContentContainer {
  background-image: url("../../images/bluepink.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  // background-color: $light-purple-3;
  margin: 5px;
  padding: 20px 50px 60px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skillsContentContainer:hover {
  // border: 2px dotted $main-purple;
}
.skillsHeader {
  //   text-align: center;
  color: $main-purple;
}
.listedSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  div {
    padding: 20px;
    // width: 100px;
    text-align: center;
  }
}

@media screen and (min-width: 778px) {
  .skillsContentContainer {
    // margin-bottom: 0;
    // max-width: 40vw;
  }
}

@media screen and (min-width: 1200px) {
  .skillsContentContainer {
    // max-width: 70vw;
  }
}
