@import "../../style.scss";

h2 {
  font-size: 38px;
  // margin-bottom: 10px;
}
.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10px;
}
.aboutContentContainer {
  border: 2px dotted $light-purple;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light-purple-1;
}
.aboutContentContainer:hover {
  border: 2px dotted $main-purple;
}
.aboutContentContainer p {
  text-align: center;
  max-width: 650px;
  padding: 20px;
  padding-top: 0;
}
.aboutHeader {
  color: $main-purple;
}
.experienceEducation {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 778px) {
  .aboutExperience {
    max-width: 45%;
    // width: 40%;
  }
  aside {
    max-width: 55%;
  }
  .aboutContainer {
    flex-direction: row;
  }
  .aboutContentContainer {
    // margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .experienceEducation {
    flex-direction: row;
    // max-width: 40%;
  }
  .aboutExperience {
    max-width: 40%;
    // width: 40%;
  }
  aside {
    max-width: 60%;
  }
}
