@import "../../style.scss";
h1 {
  font-size: 48px;
  text-align: center;
  margin: 10px 0;
}
.scrollHere {
  border: 3px solid black;
  height: 20px;
  width: 100%;
}
.headerContainer {
  //add background image
  background-image: url(../../images/header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-color: $main-purple;
  // background-image: linear-gradient(to top left, $main-purple, $light-purple);
  margin: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  button {
    color: white;
    border-color: white;
  }
}
// .headerContainer::after {
//   // background-color: $main-purple-header;
//   width: 100%;
//   height: 100%;
//   position: absolute;
// }
.headerContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  justify-content: center;
  // background-color: $light-purple-nav;
  padding: 0 auto;
  color: white;
}
.headerWordsContainer {
  // color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  p {
    margin-top: 0;
    text-align: center;
    max-width: 375px;
  }
}

.profilePicture {
  height: 200px;
  width: 200px;
  margin-top: 75px;
  border-radius: 50%;
}

@media screen and (min-width: 675px) {
  .headerContentContainer {
    flex-direction: row;
    padding: 50px;
  }
  .headerWordsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // align-items;
    h1 {
      margin-top: 0;
    }
    p {
      //   margin-top: 0;
      text-align: justify;
    }
  }
  .profilePicture {
    margin-top: 0;
  }
}
