@import "../../style.scss";

h2 {
  font-size: 38px;
}
.experienceContentContainer {
  background-image: linear-gradient(#957ae1b9, #fcc5ccbd);
  border-radius: 5px 35px;
  margin: 5px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .resumeBtn {
    margin-top: 10px;
  }
  .resumeBtn:hover,
  .resumeBtn:focus {
    box-shadow: inset 12em 0 0 0 $main-purple;
    color: white;
  }
}

.experienceHeader {
  color: $main-purple;
}
.experienceListed {
  max-width: 100%;
  p {
    margin-top: 0;
  }
  h3 {
    margin-bottom: 5px;
  }
}
.pra {
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px black solid;
}
.uwm {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px black solid;
}
.seeMoreBtn {
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 0;
  font-weight: 700;
  cursor: pointer;
}
