@import "../../style.scss";

.navigationContainer {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: $main-purple;
  align-items: center;
  z-index: 1000;
}

.navLinks {
  display: none;
  padding: 20px;
  a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: 700;
  }
}
.hamburger {
  padding: 15px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5em;
}
.hamburger:hover {
  cursor: pointer;
}
.navList {
  padding-top: 57px;
  flex-direction: column;
  justify-content: center;
  background-color: $light-purple;

  a {
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
    border-bottom: 1px solid $main-purple;
    text-align: center;
    color: $main-purple;
  }
}

@media screen and (min-width: 400px) {
  .navLinks {
    display: inline;
  }
  .hamburger {
    display: none;
  }
}
